body, h1{margin:0; padding:0;}
body{font-family: "Microsoft YaHei"}
header{display: -webkit-box; display:box; height:50px; background-color:#dbdbdb;}
header h1{-webkit-box-flex:1; box-flex:1; vertical-align:bottom; line-height:50px;padding-left:13px; font-weight:normal;color:rgba(135,136,136,0.7); text-shadow:1px 1px 1px #dbdbdb,0 0 0 #000;}
header a{display:block; width:30px; margin:13px 13px 0 0;}
header a span{display:block; height:5px; width:30px; margin: 4px; 0; background-color:white;}
nav{display:none;}
